.featured {
    height: 100%;
    background-image: url(../img/product-bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    &__text {
        margin-top: 4em;
    }

    &__heading {
        display: block;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        color: #80B5FE
    }

    &__heading-2 {
        display: block;
        font-size: 32px;
        font-weight: 300;
        color: $color-black;
    }

    &__link {
        color: black;

        &:hover {
            color: $color-grey-dark;
        }
    }
}